# Environment variables
# .env
# .env.local
# .env.*.local

# Python
__pycache__/
*.pyc

.idea/*
fastapi-client/chroma_db/chroma.sqlite3
fastapi-client/chroma_db/5a3a8231-39c0-4838-880b-09cee343d5a3/length.bin
